ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;

  .card {
    background-color: #6b6969;
    color: white;
    margin: 10px;
    text-align: center;

    img {
      margin: auto;
    }

    h3 {
      margin-top: 10px;
    }

    &:hover {
      background-color: #5d5c5c;
    }
  }
}
